@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 30%;
}

input, button {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #382ecc;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2927ae;
}




